.sectionContainer {
	display: flex;
	flex-direction: column;
}

.container {
	width: 720px;
	display: flex;
	margin: 32px 0 0 0;
	padding: 32px 0 64px 0;
	border-top: 1px solid rgb(182 199 200);
}

.headerContainer {
	width: 160px;
	border-right: 1px solid #cee1e2;
}

.header {
	font-weight: normal;
	letter-spacing: 1px;
	font-size: 1.5em;
	margin: 0;
	padding: 0;
	color: #2f383c;
}

.exampleContainer {
	width: 560px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.code {
	padding: 8px;
	margin: 8px 0px;
	background: #e9ecef;
	color: #374a53;
	float: left;
	border-radius: 6px;
}


@media only screen and (max-width: 860px) {
	.container {
		width: 420px;
		overflow: hidden;
		flex-direction: column;
	}

	.exampleContainer {
		width: 420px;
	}

	.headerContainer {
		width: 420px;
		display: flex;
		flex-wrap: wrap;
		border: none;
	}

	.code {
		margin: 8px 4px 8px 12px;
		padding: 6px;
	}

	.code + .code {
		margin: 8px 4px;
	}
}

@media only screen and (max-width: 560px) {
	.container, .exampleContainer, .headerContainer {
		width: 260px;
	}
}